
body {
   margin: 0;
}

h1 {
   color: #CC454B;
   margin: 5vh auto;
   width:70vw;
   font-family: 'Fjalla One', cursive;
   font-size: 20px;
   letter-spacing: 1.5px;
}


.container {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 87vh;
      background: url("../img/76835d9475e235c4687e0a27d9f7f01f_original.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      background-color: #6492A1;
      overflow: scroll;
}

.topmenu{
   position: fixed;
   right: 40px;
   top: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
   display: inline-block;
}

li a {
   margin: 10px auto;
   text-align: right;
   float: left;
   text-decoration: none;
   color: #CC454B;
   padding: 10px 1px;
   width:50px;
   text-transform: lowercase;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}

.rel {
   position: relative;
   width: 70vw;
   margin: 0 auto;
   height: 100vh;
}

li a:hover {
    color: black;
}

h2 {
   font-size: 275px; color: #CC454B;
   margin: 1px;
   font-family: 'Chonburi', cursive;
   opacity: 0.6;
}

p {
   font-size: 15px;
   color: white;
   font-family: 'Roboto', sans-serif;
   text-align: left;
   line-height: 140%;

}

h3 {
   font-size: 25px;
   color: white;
   font-family: 'Open Sans', sans-serif;
   text-align: left;
   line-height: 20%;
}

.number-1{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;

}

.number-2{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}

.number-3{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}


.number-4{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}


.number-5{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}

.number-6{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}


.number-7{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}



.number-8{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}


.number-9{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}

.number-10{
   position: absolute;
   left:80px;
   width: 400px;
   height: 300px;
}


span {
   color : white;
   font-weight: bold;

}
